.banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url(../img/Micro.jpeg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 92%;
    padding: 5em;
}

.banner__titulo{
    font-size: 9em;
    color: #F5821F;
    text-shadow: black 0px 10px 6px;
    font-family: "Lobster", sans-serif;
}

.banner__texto{
    font-size: 3em;
    font-weight: 500;
    color: white;
    margin-left: 1rem;
    text-shadow: black 0px 5px 6px;
    font-family: "oswald", sans-serif;
}

.banner__botao{
    width: 25vh;
    padding: 1.2rem;
    color: white;
    background-color: #1c7ce2;
    margin-top: 2rem;
    text-align: center;
    text-decoration: none;
    border-radius: 0.6rem;
    margin-left: 1rem;
    font-family: "roboto", sans-serif;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 2rem;
    border-color:#707070;
}

@media only screen and (max-width : 719px){
    .banner{
        background-image: url(../img/micro-cell.jpeg);
        height: 60%;
        padding-left: 1.5rem;
        padding-right: 1rem;
    }

    .banner__titulo{
        font-size: 3.8em;
    }

    .banner__texto{
        font-size: 1.5em;
    }

    .banner__botao{
        width: 20vh;
        height: 4.5vh;
        font-size: 1.2rem;
    }
}