.banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url(../img/Micro.jpeg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 95vh;
    padding: 5em;
}

.banner__titulo{
    font-size: 4em;
    font-weight: 800;
    color: white;
}

.banner__texto{
    font-size: 2em;
    font-weight: 500;
    color: orange;
}