.banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url(../img/Micro.jpeg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 92%;
    padding: 5em;
}

.banner__titulo{
    width: 100%;
    font-size: 8em;
    font-weight: 800;
    color: rgb(9, 255, 0);
    background-color:hsla(0, 0%, 0%, 0.5);
}

.banner__texto{
    font-size: 5em;
    font-weight: 500;
    color: rgb(76, 0, 255);
}

.banner__botao{
    width: 30vh;
    height: 5vh;
}