.rodape__infos__direita__img{
    height: 5vh;
}

.rodape__infos__esquerda__img{
    height: 10vh;
}

.rodape{
    background-color: #ecebeb;
    padding: 0.5rem;
    margin-top: 2em;
}

.rodape__infos{
    display: flex;
    justify-content: space-between;
    margin: 2em;

}

.rodape__infos__esquerda{
    display: flex;
    flex-direction: column;
    gap: 1em;
    font-size: 2rem;
}

.rodape__infos__direita{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2em;
}

.rodape__infos__direita__dados{
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 1em;
    font-size: 2rem;
}

.credito{
    text-align: center;
    font-size: 1.5rem;
    color: #707070;
}

@media only screen and (max-width : 1439px){
    .rodape__infos__esquerda__img{
        width: 25vh;
        height: 10bh;
    }

    .rodape__infos__esquerda{
        font-size: 1.8rem;
    }

    .rodape__infos__direita__img{
        height: 4vh;
    }

    .rodape__infos__direita__dados{
        font-size: 2rem;
    }

    .rodape__infos__direita{
        justify-content: center     
    }

    .credito{
        font-size: 1.2rem;
    }
}

@media only screen and (max-width : 719px){
    .rodape__infos__esquerda__img{
        width: 15vh;
        height: 3vh;
    }

    .rodape{
        background-color: #ecebeb;
        padding: 0.5rem 0.1rem 0.5rem 0.1rem;
        margin-top: 2em;
    }
    
    .rodape__infos__esquerda{
        font-size: 1rem;
    }

    .rodape__infos__direita__dados{
        font-size: 1.3rem;  
        gap: 0.3rem;  
    }

    .rodape__infos__direita__img{
        height: 3vh;
    }

    .credito{
        font-size: 1rem;
    }
}