.frota{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15rem;
}

.frota__titulo{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    font-size: 3rem;
}

.frota__caixa{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 60%;
    column-gap: 2rem;
    row-gap: 3rem;
   grid-template-areas: 
        "titulo titulo"
        "box img"
        "box butom";
}

.frota__caixa__titulo{
    grid-area: titulo;
    font-size: 6rem;
    margin-bottom: 4rem;
    align-self: center;
    justify-self: center;
}

.frota__caixa__infos{
    grid-area: box;
    background-color: #e5e5e5;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    width: 100%;
    padding-top: 1rem;
    font-size: 2rem;
}

.frota__caixa__infos__img{
    width: 30vh;
}

.frota__caixa__infos__img__imagem{
    grid-area: img;
    width: 100%;
}

.fota__caixa__botao{
    grid-area: butom;
    justify-self: center;
    width: 20rem;
    font-size: 2rem;
    border-radius: 1rem;
}


.frota__caixa2{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 60%;
    column-gap: 2rem;
    row-gap: 3rem;
   grid-template-areas: 
        "titulo titulo"
        "img box"
        "butom box";
}

.frota__caixa__titulo2{
    grid-area: titulo;
    font-size: 6rem;
    margin-bottom: 4rem;
    align-self: center;
    justify-self: center;
}

.frota__caixa__infos2{
    grid-area: box;
    background-color: #e5e5e5;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    width: 100%;
    padding-top: 1rem;
    font-size: 2rem;
}

.frota__caixa__infos__img__imagem2{
    grid-area: img;
    width: 100%;
}

.fota__caixa__botao2{
    grid-area: butom;
    justify-self: center;
    width: 20rem;
    font-size: 2rem;
    border-radius: 1rem;
}