.cabecalho{
    background-color: #f9f9f9;
    height: 8vh;
    display: grid;
    grid-template-areas: "logo nav contatos";
    align-items: center;
    grid-auto-columns: 1fr 1fr 1fr;
    padding: 0 2em 0 2em;
}

.cabecalho__logo{
    height: 5vh;
    grid-area: logo;
}

.cabecalho__menu{
    display: flex;
    justify-content: center;
    grid-area: nav;
}

.cabecalho__menu__links{
    text-decoration: none;
    margin: 0 2em 0 2em;
    font-size: 2.5em;
    font-weight: 800;
}

.cabecalho__contatos{
    display: flex;
    justify-content: end;
    grid-area: contatos;
}

.cabecalho__contatos__item{
    height: 4vh;
    margin-left: 1.8em;
}