.servico{
    display: grid;
    height: 60vh;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 10rem 6em 60rem 6em;
    column-gap: 10rem;
    row-gap: 10rem;
    grid-template-areas: 
        "titulo titulo titulo"
        "cont1 cont2 cont3";
}

.servico__titulo{
    font-size: 8rem;
    align-self: center;
    grid-area: titulo;
}

.servico__caixas{
    display: flex;
    flex-direction: column;
    gap: 2em;
    align-self: start;
}

#caixa1{
    grid-area: cont1;
}

#caixa2{
    grid-area: cont2;
}

#caixa3{
    grid-area: cont3;
}

.servico__caixas__subtitulo{
    display: flex;
    align-items: center;
    gap:  1rem;
    font-size: 3.5rem;
}

.servico__caixas__img{
    height: 5vh;
    width: 5vh;
}

.servico__caixas__texto{
    font-size: 2rem;
}

